<div class="nearby-gyms">
  <%= render partial: 'athlete_dashboards/nearby_gyms' %>
</div>
<div class="recent-gyms">
  Recent choices:
  <%# current_user.recent_gyms.each do |gym| %>
    <%# link_to gym.name, '#', role: 'button' %>
  <%# end %>
</div>
