<div class="nearby-gyms">
  <%= render partial: 'athlete_dashboards/nearby_gyms' %>
</div>
<div class="recent-gyms">
  Recent choices:
  <% current_user.athlete_story.recent_gyms.each do |gym| %>
    <%= link_with_inner_div_to gym.name, '#', data: {'gym-id': gym.id}, role: 'button', class: 'gym-link' %>
  <% end %>
</div>
