<article class="dashboard">
  <div class="col-wrapper">
    <section class="log-a-climb">
      <section class="start">
        <button><%= inline_svg 'LogCard.svg' %></button>
      </section>
      <section class="gym-picker">
        <header>
          <h2 class="section-title">Select a gym</h2>
        </header>
        <div class="section-body">
          <%= render partial: 'shared/gym_picker' %>
        </div>
      </section>
    </section>
  </div>
  <div class="col-wrapper">
    <section class="review">
      <section class="start">
        <div class="section-body">
          <button>Review</button>
        </div>
      </section>
    </section>
  </div>
  <div class="col-wrapper">
    <section class="find">
      <section class="start">
        <div class="section-body">
          <button>Find</button>
        </div>
      </section>
    </section>
  </div>
</article>
