%article.log-a-climb
  %section.start
    %hgroup
      %i.fa.fa-pencil.fa-3x
      %h1 Log a climb
  %section.gym-picker
    %hgroup
      %h2 Select a gym
    = render partial: 'gym_picker'
  %section.climb-picker
    %h2 Select a climb

%article.review
  %section.start
    %h1 Review

%article.find
  %section.start
    %h1 Find
