@import 'application';

.climb-type {
  .btn {
    @extend .btn-default;
  }
}

.form-group.grade {
  display: none;
}

[type="submit"] {
  @extend .btn;
  @extend .btn-default;
}

$panel-sections: log-details, climb-details, climb-seshes;
@import "helpers/panel_sections";

.athlete-climb-log-fields {
  @include make-row();
  .col {
    @include make-sm-column(12);
    @include make-md-column(6);
  }
}

.climb-seshes {
  table {
    table-layout: fixed;
    @extend .table;
    @extend .table-hover;
    @extend .table-condensed;
    .high-hold {
      width: 10%;
    }
    td.high-hold {
      text-align: right;
    }
    .delete {
      width: 10%;
      text-align: right;
      vertical-align: middle;
    }
    textarea {
      resize: vertical;
    }
  }
}
