.navbar-form {
  border: none;
  box-shadow: none;
  select.form-control {
    width: 100%;
  }

}

@media (max-width: $screen-sm) {
  .navbar-collapse .dropdown.open .dropdown-menu {
    padding: 5px 15px 5px 25px;
    li {
      padding: 5px;
      > * {
        padding: 0px;
        margin: 0px;
      }
    }
  }
}
