<tr class="nested-fields">
  <td class="high-hold">
    <%= f.number_field :high_hold %>
  </td>
  <td class="note">
    <%= f.text_area :note, rows: "1" %>
  </td>
  <td class="delete">
    <%= link_to_remove_association f do %>
      <i class="fa fa-remove"></i>
    <% end %>
  </td>
</tr>
