<% if target.try(:errors).try(:any?) %>
  <div id="error_explanation">
    <h2>We couldn't save your changes due to the following <%= "error".pluralize(target.errors.count) %>:</h2>

    <ul>
    <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
