<div class="gym-picker">
  <div class="nearby-gyms">
    <% if current_user.current_location %>
      Near you:
      <%= link_to('#', data: { behavior: 'locate-user', user_id: current_user.id }, role: 'button', class: 'btn', id: 'refresh-my-location') do %>
        <span class="glyphicon glyphicon-refresh"></span>
      <% end %>
      <% gyms_near(current_user).each do |gym| %>
        <%= link_to gym.name, '#', role: 'button', class: 'btn gym-link' %>
      <% end %>
    <% else %>
    <%= link_to 'Find gyms near me', '#', data: { behavior: 'locate-user', user_id: current_user.id }, role: 'button', class: 'btn', id: 'find-me'%>
    <% end %>
  </div>
  <div class="recent-gyms">
    Recent choices:
    <%# current_user.recent_gyms.each do |gym| %>
      <%# link_to gym.name, '#', role: 'button' %>
    <%# end %>
  </div>
</div>
