<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= render template: 'users/registrations/new' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= render template: 'users/sessions/new' %>
  </div>
</div>
