<section class="row">
  <section class="signup">
    <h2>Sign up</h2>
    <%= render 'users/registrations/form_new' %>
  </section>

  <section class="signin">
    <h2>Log in</h2>
    <%= render 'users/sessions/form_new' %>
  </section>
</section>
