<section class="row">
  <section class="signup">
    <h2>Sign up</h2>
    <%= render 'user_accounts/sign_up_form' %>
  </section>

  <section class="signin">
    <h2>Log in</h2>
    <%= render 'user_accounts/sign_in_form' %>
  </section>
</section>
