<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default create">
      <div class="panel-heading">Create a...</div>
      <div class="list-group">
        <%= link_to "setter climb log", new_setter_climb_log_path, class: "list-group-item" %>
        <a href="#" class="list-group-item">route</a>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default review">
      <div class="panel-heading">Review...</div>
      <div class="list-group">
        <a href="#" class="list-group-item">what I've set recently</a>
        <a href="#" class="list-group-item">all problems currently set at my home gym</a>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default find">
      <div class="panel-heading">Find a...</div>
      <div class="list-group">
        <a href="#" class="list-group-item">setter climb log</a>
        <a href="#" class="list-group-item">route</a>
      </div>
    </div>
  </div>
</div>
