<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">Log a...</div>
      <div class="list-group">
        <a href="#" class="list-group-item">boulder problem</a>
        <a href="#" class="list-group-item">route</a>
        <a href="#" class="list-group-item">workout</a>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">Review...</div>
      <div class="list-group">
        <a href="#" class="list-group-item">what I did last week</a>
        <a href="#" class="list-group-item">my current projects</a>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">Find a...</div>
      <div class="list-group">
        <a href="#" class="list-group-item">boulder problem</a>
        <a href="#" class="list-group-item">route</a>
        <a href="#" class="list-group-item">workout</a>
      </div>
    </div>
  </div>
</div>
