<article class="dashboard">
  <div class="col-wrapper">
    <section class="log-a-climb">
      <header>
        <h2 class="section-title">Log a climb</h2>
      </header>
      <div class="section-body">
        <%= render partial: 'shared/gym_picker' %>
      </div>
    </section>
  </div>
  <div class="col-wrapper">
    <section class="review">
      <header>
        <h2 class="section-title">Review</h2>
      </header>
      <body>

      </body>
    </section>
  </div>
  <div class="col-wrapper">
    <section class="find">
      <header>
        <h2 class="section-title">Find a...</h2>
      </header>
      <body>

      </body>
    </section>
  </div>
</article>
