<div class="form-group input-group nested-fields">
  <%= f.text_field :name, placeholder: 'name' %>
  <span class="input-group-btn">
    <%= link_to_remove_association(f, class: 'btn') do %>
      <span class="glyphicon glyphicon-minus"></span>
    <% end %>
  </span>
</div>
