<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
    Logged in as <strong><%= current_user.address_me_as %></strong>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% if current_user.roles.count > 1 %>
      <li><%= render partial: '/layouts/navbar/form_select_current_role' %></li>
    <% end %>
    <li><%= link_to 'Edit profile', edit_user_path, :class => 'navbar-link' %></li>
  </ul>
</li>
<li><%= link_to 'Logout', destroy_user_account_session_path, method: :delete, :class => 'navbar-link' %></li>
