<p class="alert alert-<%= alert_style %> alert-dismissible">
  <%= message %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</p>
